<h1>新着ユーザー</h1>
<ul>
<% @new_users.each do |user| %>
  <li><a href="/users/<%= user['id'] %>"><%= user['name'] %>さん</a></li>
<% end %>
</ul>

<h1>新着アイテム</h1>
<ul>
<% @new_items.each do |item| %>
  <li><a href="/items/<%= item['id'] %>"><%= item['title'] %></a></li>
<% end %>
</ul>

<h1>新着ブランド</h1>
<ul>
<% @new_brands.each do |brand| %>
  <li><a href="/brands/<%= brand['id'] %>"><%= brand['brand_name'] %></a></li>
<% end %>
</ul>
