<h1><%= @user['name'] %>さん</h1>

<h2>LIKEしたブランド</h2>
<ul>
<% @like_brands.each do |brand| %>
  <li><a href="/brands/<%= brand['id'] %>"><%= brand['brand_name'] %></a></li>
<% end %>
</ul>

<h2>LIKEしたアイテム</h2>
<ul>
<% @like_items.each do |item| %>
  <li><a href="/items/<%= item['id'] %>"><img width="100" src="<%= item_image(item['id']) %>"><%= item['title'] %></a></li>
<% end %>
</ul>
